<div class="user-details" *ngIf="user">
  <h1>Hi! {{user.firstName +" "+user.lastName}}</h1>
  
  <div class="profile-container">
    <img [src]="user.profileImage" alt="Profile Image" class="profile-image" />
  </div>
  
  <table class="details-table">
    <tr>
      <th>FirstName</th>
      <td>{{ user.firstName }}</td>
    </tr>
    <tr>
      <th>LastName</th>
      <td>{{ user.lastName }}</td>
    </tr>
    <tr>
      <th>Contact Number</th>
      <td>{{ user.contactNumber }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>NIC</th>
      <td>{{ user.nic }}</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>{{ user.age }}</td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>{{ user.gender == 0 ? 'Male' : 'Female' }}</td>
    </tr>
    <tr>
      <th>Weight</th>
      <td>{{ user.weight }} kg</td>
    </tr>
    <tr>
      <th>Height</th>
      <td>{{ user.height }} cm</td>
    </tr>
    <tr>
      <th>Creation Date</th>
      <td>{{ user.creationDate | date }}</td>
    </tr>
    <tr>
      <th>Member Status</th>
      <td>{{ user.memberStatus== true ? 'Active' : 'NotActive' }}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{ user.address }}</td>
    </tr>
  </table>
</div>

<div *ngIf="!user" class="loading">
  <p>Loading user details...</p>
</div>
