<div class="container">
    <h1 *ngIf="member">{{member.firstName}} {{member.lastName}}</h1>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Program</th>
          <th scope="col">Fees</th>
          <th scope="col">Select</th>
        </tr>
      </thead>
      <tbody *ngIf="notEnrolled">
        <tr *ngFor="let program of notEnrolled ; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{program.name}}</td>
          <td>{{program.pricePerMonth}}</td>
          <td>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="enroll"
                name="mycheckboxes"
                [value]="program.id"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="button-container">
      <button class="btn btn-primary" (click)="onSubmit()">Enroll</button>
    </div>
  
    <hr />
  
    <h3>Already Enrolled</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Program</th>
          <th scope="col">Enrolled Date</th>
          <th scope="col">Due date</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody *ngIf="alreadyEnrolled">
        <tr *ngFor="let enrolled of alreadyEnrolled ; let i = index">
          
          <th scope="row">{{enrolled.program.name}}</th>
          <td>{{enrolled.createdDate | date: 'shortDate' }}</td>
          <td>{{enrolled.dueDate | date: 'shortDate'}}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="onDelete(enrolled.id)">
              <i class="bi bi-trash-fill"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  