<div class="programs-view">
  <div class="container my-5">
    <div class="header-container d-flex justify-content-between align-items-center mb-3">
      <h2 class="display-4 mb-0">Programs List</h2>
      <input
        type="text"
        class="form-control search-input w-50"
        placeholder="Search by Program Name, Price Per Month or Description"
        [(ngModel)]="searchText"
      />
      <button
        class="btn btn-success add-program-btn"
        [routerLink]="['/admin/programAdd']"
        routerLinkActive="router-link-active"
      >
        Add Program
      </button>
    </div>

    <div class="program-container">
      <!-- Search Input -->
      <!-- <input 
        type="text" 
        [(ngModel)]="searchText" 
        placeholder="Search Programs" 
        class="search-input"
      /> -->
    
      <!-- Program Cards with Search Filter Applied -->
      <div *ngFor="let program of programs | searchFilter: searchText : ['name', 'description', 'pricePerMonth']" class="program-card">
        <h3>{{ program.name }}</h3>
        <p><strong>Description:</strong> {{ program.description }}</p>
        <p><strong>Price per Month:</strong> {{ program.pricePerMonth|currency:"INR":"symbol" }}</p>
        <p><strong>Status:</strong> {{ program.programstatus ? 'Active' : 'Inactive' }}</p>
        <p><strong>Created On:</strong> {{ program.createdDate | date: 'mediumDate' }}</p>
        <div class="card-actions">
          <button class="btn btn-primary" (click)="editProgram(program.id)">Edit</button>
          <button class="btn btn-danger" (click)="onDelete(program.id)">Delete</button>
        </div>
      </div>
    </div>

  </div>
</div>
